[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "plugins/tmux-fzf-tmuxinator"]
	path = plugins/tmux-fzf-tmuxinator
	url = https://git::@github.com/viktorhefringmarine/tmux-fzf-tmuxinator
[submodule "plugins/tmux-menus"]
	path = plugins/tmux-menus
	url = https://git::@github.com/jaclu/tmux-menus
[submodule "plugins/tmux-pain-control"]
	path = plugins/tmux-pain-control
	url = https://git::@github.com/tmux-plugins/tmux-pain-control
